[submodule "ProtectionUnit_0.1/lib/axi"]
	path = ProtectionUnit_0.1/lib/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "ProtectionUnit_0.1/lib/common_cells"]
	path = ProtectionUnit_0.1/lib/common_cells
	url = https://github.com/pulp-platform/common_cells.git
